<div class="loading" *ngIf="isLoading">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<div class="container-fluid mb-5 p-0">
    <div class="row g-2 pt-4 p-0 m-0 justify-content-start">
      <div class="col-md-2" [routerLink]="['/admin', { outlets: { admin_Menu: 'users' } }]">
        <div class="card p-4 text-center m-2 cursor-pointer">
          <h4 class="fs-2 fw-bold">{{userCount || 0}}</h4>
        <small class="fw-medium">Users</small>
        </div>
      </div>
      <div class="col-md-2" [routerLink]="['/admin', { outlets: { admin_Menu: 'admin-target' } }]">
        <div class="card p-4 text-center m-2 cursor-pointer">
        <h4 class="fs-2 fw-bold">{{(setTargetCount || 0)}}</h4>
        <small class="fw-medium">Set Target</small>
      </div>
      </div>
    </div>
    <div class="row p-0 m-0 justify-content-between">
      <div class="col-md-5 align-self-start">
        <i class="fa-solid fa-magnifying-glass searching-icon"></i>
        <input
          type="search"
          placeholder="Search here"
          aria-label="Search"
          class="search-input mb-3"
          #searchInput
          (input)="getSearchInput(searchInput.value)"
        />
      </div>
      <div class="col-md-3 mt-4 me-5 d-flex justify-content-center align-items-center ">
        <button class="btn btn-success download-btn me-2" (click)="downloadDashboardReport()">Download</button>
        <!-- <button class="btn  refresh-btn" (click)="refreshPage()">Refresh</button> -->
        <button class="btn btn-dark refresh-btn" (click)="refreshPage()">
          <i class="fa fas fa-sync"></i> Refresh
        </button>
      </div>
    </div>
    <div class="m-2">
    <div class="card p-2 mt-2">
      <div class="card-header d-flex justify-content-between p-3"> 
        <strong>Target Achieved</strong>
      <!-- <label for="">Total Current Value :  <strong> {{(totalCurrentValue | number:'1.2-2') || 0}}</strong></label> -->
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered text-center table-hover">
            <thead class="table-secondary" >
              <tr>
                <th scope="col">Sr.No</th>
                <th scope="col">Coins</th>
                <th scope="col">Exchange</th>
                <th scope="col">Base Price</th>
                <th scope="col">Current Price</th>
                <th scope="col">Market Cap</th>
                  <th scope="col">Target Return X</th>
              <th scope="col">Current Return X</th>
              <th scope="col">Current Value</th>
              <th scope="col">Final Sale Price</th>
              <th scope="col">Total Coins</th>
              <th scope="col">Available Coins</th>
              <th scope="col">Major Unlock Date</th>
              <th scope="col">FDV</th>
              <th scope="col">Narrative</th>
                <th *ngFor="let i of [1, 2, 3, 4, 5]" scope="col">Sale Price {{ i }}</th>
                <th *ngFor="let i of [1, 2, 3, 4, 5]" scope="col">Sale {{ i }} Coins</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of allReachedSetTargetList ; let i= index">
                <td>{{ i + 1 }}</td>
                <td>{{ (item.coin.split(' (')[0]) || "--" }}</td>
                <td>{{item.exchange || "--" }}</td>
                <td>{{ item.base_price || "--" }}</td>
                <!-- <td>{{ item.currant_price || "--" }}</td> -->
                <td [ngStyle]="{'color': item.update_current_price ? '' : 'red'}">
                  {{ item.update_current_price || item.currant_price || '--' }}
                </td>
                <td>{{ item.market_cap !== null && item.market_cap !== undefined ? (item.market_cap | number:'1.2-2') : item.market_cap === 0 ? '0.00' : '--' }}</td>
                <td>{{ item.return_x || "--" }}</td>
                <td>{{ item.current_return_x !== null && item.current_return_x !== undefined ? (item.current_return_x | number:'1.2-2') : item.current_return_x === 0 ? '0.00' : '--' }}</td>
                <td>{{ item.current_value !== null && item.current_value !== undefined ? (item.current_value | number:'1.2-2') : '--' }}</td>
                <td>{{ item.final_sale_price || "--"}}</td>
                <td>{{ formatAvailableCoins(item.available_coins) }}</td>   
                <td>{{ formatAvailableCoins(item.total_available_coins) }}</td>
                <td>{{item.timeframe || "--" }}</td>
                <td>{{ item.fdv_ratio !== null && item.fdv_ratio !== undefined ? (item.fdv_ratio ) : item.fdv_ratio === 0 ? '0.0' : '--' }}</td>
                <td>{{item.narrative || "--" }}</td>
                <td *ngFor="let footer of item.footer">{{footer.sale_target || "--"}} <br>
                  <small class="status-btn reached-text"> {{footer.target_status}}</small><br>
                  <small class="status-btn2 reached-text"  
                  [ngStyle]="{ 'cursor': footer.complition_id === 3 ? 'pointer' : 'default' ,
                    'background-color': footer.complition_id === 3 ? 'green' : (footer.complition_id === 4 ? 'red' : '#ececec'),
                    'color': footer.complition_id === 3 || footer.complition_id === 4 ? 'white' : 'inherit'
                  }" 
               (click)="footer.complition_id === 3 && submit(item, footer, item.update_current_price ? item.update_current_price : item.currant_price)">
                   {{(footer.complition_status | titlecase) || "--"}}</small>
                </td>
                <td *ngFor="let footer of item.footer">
                  {{ formatAvailableCoins(footer.sale_target_coin) }}
                </td>
            
              </tr>
              <tr class="fw-bold text-center" *ngIf="allReachedSetTargetList.length === 0">
                <td colspan="20" class="text-danger no-data">No Data Available</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 mt-5">
          <mat-paginator
            [length]="total"
            [pageSize]="perPage"
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page"
            [showFirstLastButtons]="true"
            (page)="onPageChange($event)"
          >
          </mat-paginator>
        </div>
      </div> 
    </div>
    
    </div>
  </div>
  </div>
  