<div class="container-fluid m-0 p-0">
  <div class="row m-0 p-0 justify-content-center">
    <div class="col-md-6 col-8 align-self-center">
      <div class="col-md-4 d-flex">
        <a class="navbar-brand" routerLink="">
          <img src="assets/logo.svg" alt="Logo" class="img-fluid brand-logo py-4 mx-3">
        </a>
        <h2 class="brand-name fw-bold">Crypto</h2>
      </div> 
      <div class="col-md-8 mx-5 first-col">
        <div class="mx-5 first-col" *ngIf="verifyemail">
          <h4 class="mb-3 fw-bold fs-3 heading">Forgot Password</h4>
          <small class="text-dark mb-5 fs-6 ">Enter your email for the verification proccess,we will send code to your
            email.</small>
          <form [formGroup]="form">
            <div class="my-3">
              <label for="exampleInputEmail1" class="form-label text-dark">E-mail</label>
              <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email Id" formControlName="email_id"
                [ngClass]="{
                  'is-invalid': controls['email_id'].invalid &&
                  (controls['email_id'].dirty || controls['email_id'].touched)
                }"
              />
              <span class="text-danger " *ngIf="controls['email_id'].invalid &&
                (controls['email_id'].dirty || controls['email_id'].touched)">
                <div *ngIf="controls['email_id'].errors?.['required']" class="d-flex justify-content-start">
                  <small class="error-msg">Email Address is required</small>
                </div>
                <div *ngIf="controls['email_id'].errors?.['email']" class="d-flex justify-content-start">
                  <small class="error-msg"> Email must be a valid email address</small>
                </div>
              </span>
            </div>
            <div class="">
              <button type="submit" class="btn login-btn mt-4 fs-5"(click)="sendOTP()" >Continue</button>
            </div>
          </form>
        </div>
        <div class="mx-5 first-col"  *ngIf="!verifyemail && !forgotpassword">
          <h4 class="mb-3 fw-bold fs-3 heading">Verification</h4>
          <small class="text-dark mb-5 fs-6 ">Enter your 6 digits code that you received on your email.</small>
          <form [formGroup]="form">
            <div class="row my-5 login-filed d-flex justify-content-center">
              <div class="col-md-11 d-flex justify-content-center">
                <ng-otp-input [config]="{length: 6}" (onInputChange)="onOtpChange($event)"
                (keydown)="onKeyDown($event)"></ng-otp-input>
              </div>
            
            </div>
            <div class="row my-5 text-center">
              <small class="text-dark fs-5">Time left : <span class="text-danger">{{ formattedTime }}</span></small>
            </div>
            <div class="row justify-content-center">
              <button type="submit"  class="btn login-btn mt-4 fs-5" (click)="verifyOTP()">
                {{ otpComplete ? 'Verify' : 'Continue' }}
              </button>
            </div>
            <div class="mt-3">
              <small class="text-dark">If you didn’t receive a code!</small>
              <samp class="text-danger resend-otp" (click)="sendOTP()"> Resend</samp>
            </div>
          </form>
        </div>
        <div class="mx-5 first-col"  *ngIf="!verifyemail && forgotpassword">
          <h4 class="mb-3 fw-bold fs-3 heading">New Password</h4>
          <small class="text-dark mb-5 fs-6 ">Set the new password for your account so you can login and access all
            featuress.</small>
          <form [formGroup]="form">
            <div class="row my-5 login-filed">
              <div class="">
                <label for="exampleInputPassword1" class="form-label text-dark">Enter New Password</label>
                <input class="form-control" id="exampleInputPassword1" placeholder="Password" 
                (input)="onnewpassword($event)" [type]="passwordVisible ? 'text' : 'password'" 
                 >
                <div class="row d-flex justify-content-end">
                  <div class="col-2 h-0">
                    <span class="eye" (click)="togglePasswordVisibility()">
                      <i [class.fa-eye]="passwordVisible" [class.fa-eye-slash]="!passwordVisible"class="fa fs-5" ></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="">
                <label for="exampleInputPassword1" class="form-label text-dark">Confirm Password</label>
                <input class="form-control" id="exampleInputPassword1" placeholder="Password" 
                (input)="onconfirmpassword($event)"
                [type]="confirmpasswordVisible ? 'text' : 'password'"
                 >
                <div class="row d-flex justify-content-end">
                  <div class="col-2 h-0">
                    <span class="eye" (click)="togglePasswordVisibilityConfirm()">
                      <i [class.fa-eye]="confirmpasswordVisible" [class.fa-eye-slash]="!confirmpasswordVisible"
                      class="fa fs-5" ></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <button type="button" class="btn login-btn mt-4 fs-5"(click)="forgotPassword()">Update Password
              </button>
            </div>
            <!-- <ng-otp-input   [config]="{length:6}"></ng-otp-input> -->
          </form>
        </div>
        <!-- TrustLogo Section (aligned right) -->
        <div class="d-flex justify-content-end mt-3 trust-logo">
          <img [src]="trustLogoUrl" alt="Trust Logo" class="img-fluid" loading="lazy">
        </div>
      </div>
    </div>  
    <div class="col-md-6 m-0 p-0 image-col">
      <img src="assets/image.png" alt="Image" class="img-fluid login-image">
    </div>
  </div>
</div>
