<div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-md-5 p-0">
        <i class="fa-solid fa-magnifying-glass searching-icon"></i>
        <input
          type="search"
          placeholder="Search here"
          aria-label="Search"
          class="search-input mb-3"
          #searchInput
          (input)="getSearchInput(searchInput.value)"/>
      </div>
      <div class="col-md-2 mt-4">
        <button class="btn add-btn" [routerLink]="[ '/admin', { outlets: { admin_Menu: 'add-user' } } ]" >Add</button>
      </div>
    </div>
    <div class="row mb-5">
    <!-- <small class="list-header">Users List</small> -->
      <div class="card p-2 mt-2">
        <div class="card-header d-flex justify-content-between p-3"> 
          <strong>Users List</strong>
        </div>
        <div class="card-body">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered text-center table-hover">
              <thead class="table-secondary" >
                <tr>
                  <th scope="col">Sr.No</th>
                  <th scope="col">User Name</th>
                  <th scope="col">Email Id</th>
                  <th scope="col">User Type</th>
                  <th scope="col">Status</th>
                  <th scope="col">Status</th>
                  <th scope="col">Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of allUserList ; let i= index">
                  <td>{{ i + 1 }}</td>
                  <td>{{(item.user_name | titlecase) || "--"}}</td>
                  <td>{{ item.email_id || "--" }}</td>
                  <td>{{ (item.user_type | titlecase ) || "--"}}</td>
                  <td>{{ item.status == 1 ? "Activated" : "Deactivated" }} </td>
                  <td><mat-slide-toggle
                    (change)="changeEvent($event, item.untitled_id) "
                    class="example-margin" [checked]="item.status == 1 ? true : false">
                    </mat-slide-toggle>
                  </td>
                  <td> 
                    <img src="assets/dashboard/Pencil.svg" alt="Pencil Image" class="cursor-pointer edit-pencile" [routerLink]="[ '/admin', { outlets: { admin_Menu: [ 'edit-user', item.untitled_id ] } } ]">
                  </td>
                </tr>
                <tr class="fw-bold text-center"
                *ngIf="allUserList.length === 0">
                <td colspan="10" class="text-danger no-data">No Data Available</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>  
