
.dashboard-menu{
    width: 130px;
    background-color: #ececec;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}
.placeholder-img{
    height: 60px;
    width: 50px;
    border-radius: 10px;
}
.logout-img{
    width: 35px;
}
.profile-img{
    cursor: pointer;
}
.user-img{
    margin-top: -5px;
    height: 40px;
    width: 50px;
}
.is-active{
    background-color:#363062;
    color: #ececec;
}
@media  (max-width:540px) {
    .brand-logo {
        height: 50px;
        width: 50px;
        margin-top: 30px !important;
    }
    .brand-name {
        margin-left: 0px !important;
    }
}