
.dashboard-menu{
    width: 130px;
    background-color: #ececec;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}
.placeholder-img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
.profile-img{
    cursor: pointer;
}