
.dashboard-menu{
    width: 130px;
    background-color: #ececec;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}
.placeholder-img{
    height: 60px;
    width: 50px;
    border-radius: 10px;
}
.logout-img{
    width: 35px;
}
.profile-img{
    cursor: pointer;
}
.user-img{
    margin-top: -5px;
    height: 40px;
    width: 50px;
}
.dropdown-toggle{
    cursor: pointer;
}
.is-active{
    background-color:#363062;
    color: #ececec;
}
 ::ng-deep div:where(.swal2-container) div:where(.swal2-html-container) {
    z-index: 1;
    justify-content: center;
    margin: 0;
    padding: 0px !important; 
    overflow: hidden !important; 
    color: inherit;
    font-size: 1.125em;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    cursor: initial;
}
.custom-menu{
    list-style: none;
    display: flex;
      gap: 1rem;
    .custom-nav-item{
      color: #fff;
      font-family: "Montserrat", sans-serif;
      padding: 15px;
      cursor: pointer;
    }
  }
  .custom-dialog-center .mdc-dialog__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen height */
  }
  
  .custom-dialog-center .mdc-dialog__surface {
    transform: translateY(0); /* Prevents unwanted shifts */
  }
  
@media  (max-width:540px) {
    .brand-logo {
        height: 50px;
        width: 50px;
        margin-top: 30px !important;
    }
    .brand-name {
        margin-left: 0px !important;
    }
}