<router-outlet *ngIf="!isAdminDashboard&&!isTrader"></router-outlet>
<div class="container-fluid m-0 p-0"*ngIf="isTrader&&!isAdminDashboard">
    <div class="row bg-white m-0 p-0">
        <div class="col-md-2 d-flex align-self-center">
            <a class="navbar-brand" routerLink="">
                <img src="./../assets/logo.svg" alt="Logo" class="img-fluid brand-logo ms-3" />
            </a>
            <h2 class="brand-name me-5 fw-bold fs-4">Crypto</h2>
        </div>
        <div class="col-md-7 d-flex align-self-center">
            <div class="row justify-content-evenly mt-3">
                <div class="col-md-2 m-2 dashboard-menu  text-center"[routerLink]="['/trader', { outlets: { trader_Menu: 'dashboard' } }]">
                    <div class="mb-1"><img src="./../assets/dashboard/dashboard.svg" alt="Dashboard" class="img-fluid"></div>
                    <small>Dashboard</small>   
                </div>
                <div class="col-md-2 m-2 dashboard-menu  text-center" [routerLink]="['/trader', { outlets: { trader_Menu: 'coins' } }]">
                    <div class="mb-1"><img src="./../assets/dashboard/coin.svg" alt="Coin" class="img-fluid"></div>
                    <small>Coins</small>
                </div>
                <div class="col-md-2 m-2 dashboard-menu  text-center" [routerLink]="['/trader', { outlets: { trader_Menu: 'target' } }]">
                    <div class="mb-1"><img src="./../assets/dashboard/target.svg" alt="Target" class="img-fluid"></div>
                    <small>Target</small>
                </div>
                <div class="col-md-2 m-2 dashboard-menu  text-center">
                    <div class="mb-1"><img src="./../assets/dashboard/report.svg" alt="Report" class="img-fluid"></div>
                    <small>Report</small>
                </div>
            </div>
        </div>
        <div class="col-md-3 align-self-center">
            <small>Profile</small>
            <img src="./../assets/dashboard/placeholder.jpg" alt="placeholder" class="img-fluid placeholder-img ms-3">
            <img src="./../assets/dashboard/setting.svg" alt="setting" class="img-fluid ms-3 profile-img">
            <img src="./../assets/dashboard/logout.svg" alt="logout" class="img-fluid ms-3 profile-img" (click)="logout()">
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-md-12 container-body">
            <router-outlet name="trader_Menu"></router-outlet>
        </div>
    </div>
</div>
<div class="container-fluid m-0 p-0"*ngIf="isAdminDashboard&&!isTrader">
    <div class="row bg-white m-0 p-0">
        <div class="col-md-2 d-flex align-self-center">
            <a class="navbar-brand" routerLink="">
                <img src="./../assets/logo.svg" alt="Logo" class="img-fluid brand-logo ms-3" />
            </a>
            <h2 class="brand-name me-5 fw-bold fs-4">Crypto</h2>
        </div>
        <div class="col-md-7 d-flex align-self-center">
            <div class="row justify-content-evenly mt-3">
                <div class="col-md-2 m-2 dashboard-menu  text-center"[routerLink]="['/admin', { outlets: { admin_Menu: 'admin-dashboard' } }]">
                    <div class="mb-1"><img src="./../assets/dashboard/dashboard.svg" alt="Dashboard" class="img-fluid"></div>
                    <small>Dashboard</small>   
                </div>
                <div class="col-md-2 m-2 dashboard-menu  text-center"[routerLink]="['/admin', { outlets: { admin_Menu: 'masters' } }]">
                    <!-- <div class="mb-1"><img src="../assets/dashboard/dashboard.svg" alt="Dashboard" class="img-fluid"></div> -->
                    <small>Masters</small>   
                </div>
                <div class="col-md-2 m-2 dashboard-menu  text-center"[routerLink]="['/admin', { outlets: { admin_Menu: 'users' } }]">
                    <!-- <div class="mb-1"><img src="../assets/dashboard/dashboard.svg" alt="Dashboard" class="img-fluid"></div> -->
                    <small>Users</small>   
                </div>
                <div class="col-md-2 m-2 dashboard-menu  text-center" [routerLink]="['/admin', { outlets: { admin_Menu: 'admin-coins' } }]">
                    <div class="mb-1"><img src="./../assets/dashboard/coin.svg" alt="Coin" class="img-fluid"></div>
                    <small>Coins</small>
                </div>
                <div class="col-md-2 m-2 dashboard-menu  text-center" [routerLink]="['/admin', { outlets: { admin_Menu: 'admin-target' } }]">
                    <div class="mb-1"><img src="./../assets/dashboard/target.svg" alt="Target" class="img-fluid"></div>
                    <small>Target</small>
                </div>
            </div>
        </div>
        <div class="col-md-3 align-self-center">
            <small>Profile</small>
            <img src="./../assets/dashboard/placeholder.jpg" alt="placeholder" class="img-fluid placeholder-img ms-3">
            <img src="./../assets/dashboard/setting.svg" alt="setting" class="img-fluid ms-3 profile-img">
            <img src="./../assets/dashboard/logout.svg" alt="logout" class="img-fluid ms-3 profile-img" (click)="logout()">
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-md-12 container-body">
            <router-outlet name="admin_Menu"></router-outlet>
        </div>
    </div>
</div>

