
::placeholder{
    font-size: 14px;
}
:host ::ng-deep mat-select{
    height: 55px;
    font-size: 14!important;
    padding: 15px 10px !important;
    width: 100%;
  }
:host ::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #9f9f9f;
}
:host ::ng-deep .mdc-text-field{
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 10px;   
}
:host ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom: 0px;
}
:host ::ng-deep .mdc-text-field--filled .mdc-line-ripple::after {
    border-bottom:0px;
}
:host ::ng-deep.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
    font-size: 14px;
}
:host ::ng-deep .mat-mdc-select-placeholder {
    color: rgba(0, 0, 0, .6);
    font-size: 14px;
}
.coin ,.currant_price,.final_sale_price{
    cursor: not-allowed;
}
::ng-deep .mat-select-search-input{
    box-sizing: border-box;
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: currentColor;
    outline: none;
    background-color: #fff !important;
    padding: 0 44px 0 16px;
    height: calc(3em - 1px);
    line-height: calc(3em - 1px);
}
@media (min-width:768px){
    .target-input{
        width: 20%;
        margin-bottom: 0px !important;
    }
}
@media (max-width:540px){
    .target-input{
        width: 100% !important;
        margin-bottom: 0px !important;
    }
    :host ::ng-deep mat-select{
        margin-bottom: 15px !important;
    }
}