<div class="loading" *ngIf="!isLoading">
  <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<div class="container-fluid">
    <div class="row m-0 pt-4 pb-4 justify-content-center">
      <small class="text-center fw-bold fs-5 mb-4">{{ isEdit ? " Edit" : "Add " }} Set Target</small>
      <div class="card col-md-10 p-5">
        <form [formGroup]="form">
          <div class="row pb-4 d-flex justify-content-center ">
            <div class="col-md-3 px-2" >
              <label  for="ticker_symbol" class="mb-2">Ticker </label>
              <mat-select
                #singleSelect
                placeholder="Select Ticker *"
                formControlName="ticker"
                class="form-control theme-input "
                (selectionChange)="onCoinChange($event)"
                [ngClass]="{
                  'is-invalid':
                    control['ticker'].invalid &&
                    (control['ticker'].dirty || control['ticker'].touched)
                }"
               >
                <mat-option>
                  <ngx-mat-select-search
                    [(ngModel)]="searchKey"
                    [ngModelOptions]="{ standalone: true }"
                    (input)="filterCoinList()"
                    placeholderLabel="Search Ticker"
                    noEntriesFoundLabel="No result available"
                  ></ngx-mat-select-search>
                </mat-option>
                <mat-option
                  *ngFor="let item of filteredCoinArray"
                  [value]="item.short_name">
                  {{ item.short_name}}
                </mat-option>
              </mat-select>
              
              <div
                class="text-danger"
                *ngIf="
                  control['ticker'].invalid &&
                  (control['ticker'].dirty || control['ticker'].touched)
                ">
                <small class="current-price-validation">Ticker Required.</small>
              </div>
            </div>
            <div class="col-md-3 mb-3 ">
              <label  for="ticker_symbol" class="mb-2">Coin Name</label>
              <input
                type="text"
                class="form-control coin"
                id="ticker_symbol"
                formControlName="coin"
                placeholder="Coin"
                [readonly]="true"
                [ngClass]="{
                  'is-invalid':
                    control['coin'].invalid &&
                    (control['coin'].dirty ||
                      control['coin'].touched)
                }"
              />
            </div>
            <div class="col-md-3 mb-3">
              <label  for="ticker_symbol" class="mb-2">Current Price</label>
              <input
                type="number"
                class="form-control"
                id="currant_price"
                placeholder="Current Price"
                formControlName="currant_price"
                [readonly]="isCurrentPriceReadonly"
                (input)="onInputChange()"
                [ngClass]="{
                  'is-invalid':
                    control['currant_price'].invalid &&
                    (control['currant_price'].dirty ||
                      control['currant_price'].touched)
                }"
              />
              <!-- Error message when unable to fetch price -->
              <div *ngIf="fetchCurrentPriceError" class="text-danger">
                <small class="current-price-validation">Unable to fetch Price. Please enter Price manually.</small>
              </div>
            </div>
            
            <div class="col-md-3 mb-3">
              <label for="market_cap" class="mb-2">Market Capital</label>
              <input
                type="number"
                class="form-control"
                id="market_cap"
                placeholder="Market Capital"
                formControlName="market_cap"
                [readonly]="isMarketCapReadonly"
                (input)="onMarketCapInputChange()"
                [ngClass]="{
                  'is-invalid':
                    control['market_cap'].invalid &&
                    (control['market_cap'].dirty ||
                      control['market_cap'].touched)
                }"
              />
              <div *ngIf="fetchMarketCapError" class="text-danger">
                <small class="current-price-validation">Unable to fetch Market Capital. Please enter it manually.</small>
              </div>
            </div>
            </div>
            <div class="row pb-4 d-flex justify-content-center">
  
            <div class="col-md-3 mb-3">
              <label  for="ticker_symbol" class="mb-2">Base Price </label>
              <input
                type="number"
                class="form-control"
                id="base_price"
                placeholder="Base Price *"
                formControlName="base_price"
                [ngClass]="{
                  'is-invalid':
                    control['base_price'].invalid &&
                    (control['base_price'].dirty || control['base_price'].touched)
                }"
                 [ngClass]="{ 'disabled-cursor': control['base_price'].disabled }"
                (input)="calculateFinalSalePrice()"
              />
              <div
                class="text-danger"
                *ngIf="
                  control['base_price'].invalid &&
                  (control['base_price'].dirty || control['base_price'].touched)
                ">
                <small class="current-price-validation">Base Price Required.</small>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label  for="ticker_symbol" class="mb-2">Return X</label>
              <input
                type="number"
                class="form-control"
                id="return_x"
                placeholder="Return X *"
                formControlName="return_x"
                [ngClass]="{
                  'is-invalid':
                    control['return_x'].invalid &&
                    (control['return_x'].dirty || control['return_x'].touched)
                }"
                (input)="calculateFinalSalePrice()"
              />
              <div
                class="text-danger"
                *ngIf="
                  control['return_x'].invalid &&
                  (control['return_x'].dirty || control['return_x'].touched)
                "
              >
                <small class="current-price-validation">Return X Required.</small>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label  for="ticker_symbol" class="mb-2">Purchased Coins</label>
              <input
                type="number"
                class="form-control"
                id="available_coins"
                placeholder="Purchased Coins*"
                formControlName="available_coins"
                [ngClass]="{
                  'is-invalid':
                    control['available_coins'].invalid &&
                    (control['available_coins'].dirty ||
                      control['available_coins'].touched)
                }"
              />

              <!-- <span class="required-symbol">*</span> -->
              <div
                class="text-danger"
                *ngIf="
                  control['available_coins'].invalid &&
                  (control['available_coins'].dirty ||
                    control['available_coins'].touched)
                "
              >
                <small class="current-price-validation">Available Coins Required.</small>
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label  for="ticker_symbol" class="mb-2">Final Sale Price</label>
              <input
                type="number"
                class="form-control final_sale_price"
                id="final_sale_price"
                formControlName="final_sale_price"
                placeholder="Final Sale Price"
                [readonly]="true"
                [ngClass]="{
                  'is-invalid':
                    control['final_sale_price'].invalid &&
                    (control['final_sale_price'].dirty ||
                      control['final_sale_price'].touched)
                }"
              />
              <div
              class="text-danger"
              *ngIf="
                control['final_sale_price'].invalid &&
                (control['final_sale_price'].dirty || control['final_sale_price'].touched)
              ">
              <small class="current-price-validation">Final Sale Price Required.</small>
            </div>
            </div>
          </div>
           <div class="row pb-4 justify-content-center">
          <div class="col-md-3 mb-3 ">
            <label  for="ticker_symbol" class="mb-2">Current Value</label>
            <input
              type="text"
              class="form-control coin"
              id="ticker_symbol"
              formControlName="current_value"
              placeholder="Current Value"
              [readonly]="true"
              [ngClass]="{
                'is-invalid':
                  control['current_value'].invalid &&
                  (control['current_value'].dirty ||
                    control['current_value'].touched)
              }"
            />
            <div
            class="text-danger"
            *ngIf="
              control['current_value'].invalid &&
              (control['current_value'].dirty || control['current_value'].touched)
            ">
            <small class="current-price-validation">Current Value Required.</small>
          </div>
          </div>
          <div class="col-md-3 mb-3 ">
            <label for="ticker_symbol" class="mb-2">Current Return X</label>
            <input
              type="text"
              class="form-control coin"
              id="ticker_symbol"
              formControlName="current_return_x"
              placeholder="Current Return X"
              [readonly]="true"
              [ngClass]="{
                'is-invalid':
                  control['current_return_x'].invalid &&
                  (control['current_return_x'].dirty ||
                    control['current_return_x'].touched)
              }"
            />
            <div
            class="text-danger"
            *ngIf="
              control['current_return_x'].invalid &&
              (control['current_return_x'].dirty || control['current_return_x'].touched)
            ">
            <small class="current-price-validation" >Current Return X Value Required.</small>
          </div>
          </div>
          <div class="col-md-3 mb-3 ">
            <label  for="ticker_symbol" class="mb-2">Time Frame</label>
            <input
              type="text"
              class="form-control "
              id="ticker_symbol"
              formControlName="timeframe"
              placeholder="Time Frame"
              [ngClass]="{
                'is-invalid':
                  control['timeframe'].invalid &&
                  (control['timeframe'].dirty ||
                    control['timeframe'].touched)
              }"
            />
            <div
            class="text-danger"
            *ngIf="
              control['timeframe'].invalid &&
              (control['timeframe'].dirty ||
                control['timeframe'].touched)
            "
          >
            <small class="current-price-validation">Time Frame Required.</small>
          </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="fdv_ratio" class="mb-2">FDV</label>
            <input
              type="number"
              class="form-control"
              id="fdv_ratio"
              placeholder="FDV"
              formControlName="fdv_ratio"
              [readonly]="isFDVReadonly"
              (input)="onFDVInputChange()"
              [ngClass]="{
                'is-invalid': control['fdv_ratio'].invalid &&
                (control['fdv_ratio'].dirty || control['fdv_ratio'].touched)
              }"
            />
            <div *ngIf="fetchFDVError" class="text-danger">
              <small class="current-price-validation">
                Unable to fetch FDV. Please enter FDV manually.
              </small>
            </div>
          </div>
          <!-- <div class="col-md-3 mb-3">
            <label for="ticker_symbol" class="mb-2">FDV</label>
            <input
              type="text"
              class="form-control"
              id="ticker_symbol"
              formControlName="fdv_ratio"
              placeholder="FDV"
              [ngClass]="{
                'is-invalid':
                  control['fdv_ratio'].invalid &&
                  (control['fdv_ratio'].dirty ||
                    control['fdv_ratio'].touched)
              }"
            />
          
            <div   *ngIf="
            control['fdv_ratio'].invalid &&
            (control['fdv_ratio'].dirty ||
              control['fdv_ratio'].touched)
          " class="text-danger">
              <small class="current-price-validation">Please enter FDV manually.</small>
            </div>
          </div> -->
          </div>
          <div class="row pb-4 justify-content-center" formArrayName="setTargetFooter">
            <label  for="ticker_symbol" class="mb-2">% Sale Target </label>
            <mat-form-field 
              *ngFor="let item of setTargetFooterArray.controls; let i = index"
              class="col-md-2 target-input mb-3"
              [formGroupName]="i">
              <mat-label>% Sale Target {{ i + 1 }}</mat-label>
              <input matInput
                type="number"
                class="form-control "
                formControlName="sale_target_value"
                [id]="item.get('sale_target_percent')?.value" 
                placeholder="0"
                maxlength="2" 
                min="0"
                max="99"
                (input)="validateExactPercentage()" />
              <mat-error *ngIf="item.get('sale_target_value')?.hasError('pattern')">
                Enter 2 digits only
              </mat-error>
            </mat-form-field>
          </div>
        
          <div *ngIf="percentageError" class="text-danger">
            The total percentage of all inputs must be exactly 100%.
          </div>
          <div class="d-flex justify-content-center mt-3">
            <div class="col-md-2">
              <button class="btn cancel-btn" (click)="goToback()">
                Cancel
              </button>
            </div>
            <div class="col-md-2">
              <button class="btn submit-btn" (click)="submit()">{{ isEdit ? "Update" :  "Submit" }}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  