.card{
    border-radius: 5px;
}
.form-control, .form-select {
    display: block;
    background-color: white !important;
    border: 1px solid #e6eaee !important;
    border-radius: 30px !important;
    height: 45px !important;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19) !important;

}
::ng-deep .mat-mdc-select-value {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 5px !important;
    margin-left: 10px !important;
}