<div class="container">
    <div class="col-md-12 p-2 first-col">
       <div class="d-flex  justify-content-end cursor-pointer"> <i class="fa fas fs-4 fw-bold fa-xmark me-1" (click)="closeDialog()"></i> </div>
        <div class="p-3 first-col">
          <h4 class="mb-3 fw-bold fs-3 heading">Change Password</h4>
          <small class="text-black fs-6 mb-5 ">Enter your Email Id for the updation process.</small>
        <form [formGroup]="form">
          <div class="my-3">
            <label for="exampleInputEmail1" class="form-label">Current Email Id</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email Id" formControlName="email_id"
            [ngClass]="{
              'is-invalid':
                control['email_id'].invalid &&
                (control['email_id'].dirty ||
                  control['email_id'].touched)
            }"
            />
            <div class="text-danger">
              <span *ngIf="
                  control['email_id'].invalid &&
                  (control['email_id'].dirty || control['email_id'].touched)
                ">
                <span *ngIf="control['email_id'].errors?.['required']" class="text-danger">
                  <small>Email is required.</small>
                </span>
                <span *ngIf="control['email_id'].errors?.['email']" class="text-danger">
                  <small>Invalid email format.</small>
                </span>
                <span *ngIf="control['email_id'].errors?.['pattern']" class="text-danger">
                  <small>Email must be a valid email address.</small>
                </span>
              </span>
            </div>
          </div>
          <div class="my-3">
            <label for="exampleInputEmail1" class="form-label">New Email Id</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email Id" formControlName="new_email"
            [ngClass]="{
              'is-invalid':
                control['new_email'].invalid &&
                (control['new_email'].dirty ||
                  control['new_email'].touched)
            }"
            />
            <div class="text-danger">
              <span *ngIf="
                  control['new_email'].invalid &&
                  (control['new_email'].dirty || control['new_email'].touched)
                ">
                <span *ngIf="control['new_email'].errors?.['required']" class="text-danger">
                  <small>Email is required.</small>
                </span>
                <span *ngIf="control['new_email'].errors?.['email']" class="text-danger">
                  <small>Invalid email format.</small>
                </span>
                <span *ngIf="control['new_email'].errors?.['pattern']" class="text-danger">
                  <small>Email must be a valid email address.</small>
                </span>
              </span>
            </div>
          </div>
          <div class="">
            <label for="exampleInputPassword1" class="form-label">Old Password</label>
            <input class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password"
            [type]="passwordVisible ? 'text' : 'password'"
            [ngClass]="{
              'is-invalid':
                control['password'].invalid &&
                (control['password'].dirty ||
                  control['password'].touched)
            }">
           <div class="row d-flex justify-content-end">
            <div class="col-2 h-0">
              <span class="eye">
                <i 
                  class="fa fs-5"
                  [ngClass]="passwordVisible ? 'fa-eye':'fa-eye-slash' " 
                  (click)="togglePasswordVisibility()">
                </i>
              </span>
            </div>
          </div>
              <span class="text-danger ">
                  <div   class="d-flex justify-content-start" *ngIf="
                  control['password'].invalid &&
                  (control['password'].dirty ||
                    control['password'].touched)">
                    <small class="error-msg">Old Password is required</small>
                  </div>
                </span>
          </div>
          <div class="">
              <label for="exampleInputPassword1" class="form-label">New Password</label>
              <input class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="new_password"
              [type]="newpasswordVisible ? 'text' : 'password'"
              [ngClass]="{
                'is-invalid':
                  control['new_password'].invalid &&
                  (control['new_password'].dirty ||
                    control['new_password'].touched)
              }">
             <div class="row d-flex justify-content-end">
              <div class="col-2 h-0">
                <span class="eye">
                  <i 
                    class="fa fs-5"
                    [ngClass]="newpasswordVisible ? 'fa-eye':'fa-eye-slash' " 
                    (click)="toggleNewPasswordVisibility()">
                  </i>
                </span>
              </div>
            </div>
                <span class="text-danger ">
                    <div   class="d-flex justify-content-start" *ngIf="
                    control['new_password'].invalid &&
                    (control['new_password'].dirty ||
                      control['new_password'].touched)">
                      <small class="error-msg">New Password is required</small>
                    </div>
                  </span>
            </div>

          <div class="row justify-content-center">
              <button mat-button class="login-btn m-2 form-control" (click)="changePassword()" >Continue
              </button>
            </div>
        </form>
        </div>
      </div>  
</div>
           

